---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nacos-config
  namespace: nacos
data:
  application.properties: |
    #server.servlet.contextPath=/
    server.port=8848
    management.endpoints.web.exposure.include=*
    spring.cloud.nacos.config.server-addr=${NACOS_SERVERS}
    nacos.core.auth.enabled=true
    nacos.naming.empty-service.auto-clean=true
    nacos.core.auth.console.enabled=true
    nacos.core.auth.system.type=nacos

    spring.datasource.platform=mysql
    db.num=1
    db.url.0=jdbc:mysql://mysql:3306/nacos_db?characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true
    db.user=${MYSQL_USER}
    db.password=${MYSQL_PASSWORD}
