---
apiVersion: v1
kind: ConfigMap
metadata:
  name: moone-rabbitmq-config
  namespace: "moone"
  labels:
    app.kubernetes.io/instance: moone-rabbitmq
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/version: 3.13.7
    helm.sh/chart: rabbitmq-14.7.0
data:
  rabbitmq.conf: |
    ## Username and password
    default_user = admin
    ## Clustering
    ##
    cluster_name = moone-rabbitmq
    cluster_formation.peer_discovery_backend  = rabbit_peer_discovery_k8s
    cluster_formation.k8s.host = kubernetes.default
    cluster_formation.k8s.address_type = hostname
    cluster_formation.k8s.service_name = moone-rabbitmq-headless
    cluster_formation.k8s.hostname_suffix = .moone-rabbitmq-headless.moone.svc.cluster.local
    cluster_formation.node_cleanup.interval = 10
    cluster_formation.node_cleanup.only_log_warning = true
    cluster_partition_handling = autoheal

    # queue master locator
    queue_master_locator = min-masters
    # enable loopback user
    loopback_users.user = false
    #default_vhost = moone-vhost
    #disk_free_limit.absolute = 50MB
    ## Prometheus metrics
    ##
    prometheus.tcp.port = 9419
    ## Memory Threshold
    ##
    total_memory_available_override_value = 2147483648
    vm_memory_high_watermark.relative = 0.5
    ## TCP Listen Options
    ##
    tcp_listen_options.backlog = 128
    tcp_listen_options.nodelay = true
    tcp_listen_options.linger.on      = true
    tcp_listen_options.linger.timeout = 0
    tcp_listen_options.keepalive = false
---
apiVersion: v1
kind: Secret
metadata:
  name: moone-rabbitmq
  namespace: "moone"
  labels:
    app.kubernetes.io/instance: moone-rabbitmq
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/version: 3.13.7
    helm.sh/chart: rabbitmq-14.7.0
type: Opaque
data:
  rabbitmq-password: "U0lERHBYVkFQalI1M29SbA=="
  rabbitmq-erlang-cookie: "RG15Z3dlTjVWNG1VNmVxSWdSUEZFTUkyeHcxY2NLcmk="

