---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: moone-rabbitmq-endpoint-reader
  namespace: "moone"
  labels:
    app.kubernetes.io/instance: moone-rabbitmq
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/version: 3.13.7
    helm.sh/chart: rabbitmq-14.7.0
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create"]
