---
# MySQL 密码
apiVersion: v1
kind: Secret
metadata:
  name: mysql
  namespace: moone #{{ namespace }}
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql
    app.kubecy: mysql
type: Opaque
data:
  mysql-root-password: c3VwZXJTdHJvbmdQYXNzIQ==     # "superStrongPass!" 的 base64 
  mysql-password: QXBwVXNlclBhc3MxMjM=              # "AppUserPass123" 的 base64
  mysql-replication-password: UmVwbGljYXRvclBhc3Mh  # "ReplicatorPass!" 的 base64

# 根用户服务绑定 
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-svcbind-root
  namespace: moone #{{ namespace }} 
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql
    app.kubecy: mysql
type: servicebinding.io/mysql
data:
  provider: Yml0bmFtaQ==                # "bitnami" 的 base64
  type: bXlzcWw=                        # "mysql" 的 base64
  host: bXlzcWwtcHJpbWFyeQ==            # "mysql-primary" 的 base64
  port: MzMwNg==                        # "3306" 的 base64
  username: cm9vdA==                    # "root" 的 base64
  database: YXBwZGI=                    # "appdb" 的 base64
  password: c3VwZXJTdHJvbmdQYXNzIQ==    # "superStrongPass!" 的 base64
  uri: bXlzcWw6Ly9yb290OnN1cGVyU3Ryb25nUGFzcyFAbXlzcWwtcHJpbWFyeTozMzA2L2FwcGRi  # 连接字符串的 base64

# 应用用户服务绑定 
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-svcbind-custom-user
  namespace: moone #{{ namespace }}
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql
    app.kubecy: mysql
type: servicebinding.io/mysql
data:
  provider: Yml0bmFtaQ==                # "bitnami" 的 base64
  type: bXlzcWw=                        # "mysql" 的 base64
  host: bXlzcWwtcHJpbWFyeQ==            # "mysql-primary" 的 base64
  port: MzMwNg==                        # "3306" 的 base64
  username: YXBwdXNlcg==                # "appuser" 的 base64
  database: YXBwZGI=                    # "appdb" 的 base64
  password: QXBwVXNlclBhc3MxMjM=        # "AppUserPass123" 的 base64
  uri: bXlzcWw6Ly9hcHB1c2VyOkFwcFVzZXJQYXNzMTIzQG15c3FsLXByaW1hcnk6MzMwNi9hcHBkYg==  # 连接字符串的 base64
