---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: moone-mysql-pv-data-0
  namespace: moone #{{ namespace  }}
  labels:
    app/component: mysql
    app/mysql-role: mysql
  annotations:
    app/component: mysql
    app/mysql-role: mysql
spec:
  accessModes: [ReadWriteOnce]
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  storageClassName: mysql-storage 
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /mnt/kubecy/moone-mysql-pv-data-0
    type: DirectoryOrCreate
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values: ["moone-worker-32"]
