---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins-sa
  namespace: devops
---
# Jenkins ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: jenkins
rules:
  - apiGroups: ["extensions", "apps"]
    resources: ["deployments"]
    verbs: ["create", "delete", "get", "list", "watch", "patch", "update"]
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["create", "delete", "get", "list", "watch", "patch", "update"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["create","delete","get","list","patch","update","watch"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create","delete","get","list","patch","update","watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get","list","watch"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]


      #  - apiGroups: [""] # core API
      #    resources: ["pods", "pods/log", "services", "endpoints", "persistentvolumeclaims", "configmaps", "secrets"]
      #    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
      #  - apiGroups: ["apps"]
      #    resources: ["deployments", "replicasets", "statefulsets"]
      #    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
      #  - apiGroups: ["batch"]
      #    resources: ["jobs", "cronjobs"]
      #    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
      #  - apiGroups: ["extensions"]
      #    resources: ["ingresses"]
      #    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
# Jenkins ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: jenkins
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: jenkins
subjects:
  - kind: ServiceAccount
    name: jenkins-sa
    namespace: devops
