---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ storage.pvc_redis_data }} 
  namespace: {{ namespace }}
  labels:
    app: redis
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 5Gi          
  selector:
    matchLabels:
      app: redis         
  volumeName: local-redis
  volumeMode: Filesystem
