---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sonar-sonarqube-init-sysctl
  namespace: devops
  labels:
    app: sonarqube
    release: sonar
data:
  init_sysctl.sh: |-
    set -o errexit
    set -o xtrace
    vmMaxMapCount=524288
    if [[ "$(sysctl -n vm.max_map_count)" -lt $vmMaxMapCount ]]; then
      sysctl -w vm.max_map_count=$vmMaxMapCount
      if [[ "$(sysctl -n vm.max_map_count)" -lt $vmMaxMapCount ]]; then
        echo "Failed to set initSysctl.vmMaxMapCount"; exit 1
      fi
    fi
    fsFileMax=131072
    if [[ "$(sysctl -n fs.file-max)" -lt $fsFileMax ]]; then
      sysctl -w fs.file-max=$fsFileMax
      if [[ "$(sysctl -n fs.file-max)" -lt $fsFileMax ]]; then
        echo "Failed to set initSysctl.fsFileMax"; exit 1
      fi
    fi
    nofile=131072
    if [[ "$(ulimit -n)" != "unlimited" ]]; then
      if [[ "$(ulimit -n)" -lt $nofile ]]; then
        ulimit -n $nofile
        if [[ "$(ulimit -n)" -lt $nofile ]]; then
          echo "Failed to set initSysctl.nofile"; exit 1
        fi
      fi
    fi
    nproc=8192
    if [[ "$(ulimit -u)" != "unlimited" ]]; then
      if [[ "$(ulimit -u)" -lt $nproc ]]; then
        ulimit -u $nproc
        if [[ "$(ulimit -u)" -lt $nproc ]]; then
          echo "Failed to set initSysctl.nproc"; exit 1
        fi
      fi
    fi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sonar-sonarqube-jdbc-config
  namespace: devops
  labels:
    app: sonarqube
    release: sonar
data:
  SONAR_JDBC_USERNAME: "sonaruser"
  SONAR_JDBC_URL: "jdbc:postgresql://postgres.moone.svc.cluster.local.:5432/sonardb"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sonar-sonarqube-init-fs
  namespace: devops
  labels:
    app: sonarqube
    release: sonar
data:
  init_fs.sh: |-
    chown -R 1000:0 /opt/sonarqube/data
    chown -R 1000:0 /opt/sonarqube/temp
    chown -R 1000:0 /opt/sonarqube/logs
    chown -R 1000:0 /opt/sonarqube/extensions


