---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarqube-data-pvc
  namespace: devops
  labels:
    app: sonarqube
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual 
  resources:
    requests:
      storage: 5Gi          
  selector:
    matchLabels:
      app: sonarqube   
  volumeName: local-sonarqube
  volumeMode: Filesystem
