---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-redis
  labels:
    app: redis
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/mmban/redis
    type: DirectoryOrCreate
  claimRef:
    kind: PersistentVolumeClaim
    namespace: {{ namespace }}
    name: {{ storage.pvc_redis_data }}
    apiVersion: v1
