---
kind: ConfigMap
apiVersion: v1
metadata:
  name: prometheus-rulefiles
  namespace: monitoring
  labels:
    prometheus-name: k8s
    app: prometheus

data:
  monitoring-prometheus-k8s-rules.yaml: |
    {% raw %}
    groups:
    - name: node-exporter.rules
      rules: 
      - alert: "CPU 使用率大于 60%"
        expr: (1 - avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m]))) * 100 > 60
        for: 10s  ## 指标连续 30 秒超过阈值，Pending → Firing
        labels:
          severity: warning
        annotations:
          summary: "CPU 使用率高于 60%"
          description: "实例 {{ $labels.instance }} 的 CPU 使用率为 {{ printf \"%.2f\" $value }}%"
    {% endraw %}
