---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-data-pvc
  namespace: {{ namespace }} 
  labels:
    app: postgresql
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual 
  resources:
    requests:
      storage: 5Gi          
  selector:
    matchLabels:
      app: postgresql     
  volumeName: local-postgresql 
  volumeMode: Filesystem
